:root {
  --primary-color: hsl(0, 0%, 98%);
  --Gray: hsl(0, 0%, 41%);
  --Black: hsl(0, 0%, 8%);
}

/* reset */
body,
main,
site-nav,
h1,
p {
  margin: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* font */
:root {
  --font-family: "Epilogue", sans-serif;
}

/* desktop styles */

body {
  font-family: var(--font-family);
  margin: 0.875rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  align-items: center;
}

.site-nav {
  display: flex;
  margin: 0;
  padding: 0;
}

/* layout in flex */
/* .home-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 100%;
  background-color: burlywood;
} */

.home-card {
  width: 100%;
  text-align: left;
}

.home-description {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 66vh;
  margin: 5rem;
  margin-bottom: auto;
  margin-top: 10rem;
}

.hero-section {
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 100%;
}
.hero-img {
  display: block;
  width: 70%;
  height: auto;
  object-fit: cover;
  margin-top: 3rem;
}

h1 {
  font-size: 6rem;
  margin-bottom: 4rem;
}

p {
  font-size: 1.45rem;
  color: var(--Gray);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.btn-learn-more {
  font-family: var(--font-family);
  font-size: 1.45rem;
  color: var(--primary-color);
  background-color: var(--Black);
  border-style: none;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 1rem;
  text-align: center;
}

.btn-learn-more:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--Black);
  border: 1px solid;
  margin: 0;
}

.client-list {
  display: flex;
  gap: 5rem;
  margin-top: 10rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
ul {
  display: flex;
}

li {
  text-decoration: none;
  color: var(--Gray);
  font-weight: 400;
  padding: 1.2rem;
  transition: all 0.1s ease-in-out;
}

.site-nav li:hover {
  color: var(--Black);
  font-weight: bold;
  cursor: pointer;
}

.right-nav {
  display: flex;
  margin-left: auto;
}

.register {
  border-radius: 1rem;
  border: 1px solid var(--Black);
  padding-right: 2rem;
  padding-left: 2rem;
}

a {
  text-decoration: none;
  color: var(--Black);
}
