:root {
  --primary-color: hsl(0, 0%, 98%);
  --Gray: hsl(0, 0%, 41%);
  --Black: hsl(0, 0%, 8%);
}

/* reset */
body,
main,
.topnav,
h1,
p {
  margin: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* font */
:root {
  --font-family: "Epilogue", sans-serif;
}

/* desktop styles */

body {
  font-family: var(--font-family);
  margin: 0.875rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  align-items: center;
}

.topnav {
  display: flex;
  margin: 0;
  padding: 0;
}

/* layout in flex */
/* .home-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 100%;
  background-color: burlywood;
} */

.home-card {
  display: flex;
  flex-direction: row;
}
.hero-img {
  width: 100%;
  height: 100%;
  height: 100vh;

  object-fit: cover;
}

.home-description {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem;
  margin-bottom: auto;
  margin-top: 10rem;
  background-color: rgb(0, 255, 115);
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}
.hero-section {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: rgb(114, 87, 114);
}

h1 {
  font-size: 6rem;
  margin-bottom: 4rem;
}

p {
  font-size: 1.45rem;
  color: var(--Gray);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.btn-learn-more {
  font-family: var(--font-family);
  font-size: 1.45rem;
  color: var(--primary-color);
  background-color: var(--Black);
  border-style: none;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 1rem;
  text-align: center;
}

.btn-learn-more:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--Black);
  border: 1px solid;
  margin: 0;
}

.client-list {
  display: flex;
  gap: 5rem;
  margin-top: 12.55rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
ul {
  display: flex;
}

li {
  text-decoration: none;
  color: var(--Gray);
  font-weight: 400;
  padding: 1.2rem;
  transition: all 0.1s ease-in-out;
}

.topnav li:hover {
  color: var(--Black);
  font-weight: bold;
  cursor: pointer;
}

.right-nav {
  display: flex;
  margin-left: auto;
}

.register {
  border-radius: 1rem;
  border: 1px solid var(--Black);
  padding-right: 2rem;
  padding-left: 2rem;
}

a {
  text-decoration: none;
  color: var(--Black);
}

.dropdown-menu {
  flex-direction: column;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* border: 1px solid var(--Gray); */
  border-radius: 1em;
  box-shadow: 0 1rem 1rem var(--Black);
  list-style: none;
  color: var(--Gray);
  text-align: center;
  padding: 1rem;
  margin: 0.85rem;
}
.dropdown-menu li {
  list-style: none;
  width: 100%;
  text-align: center;
}
.dropdown-menu a {
  color: var(--Gray);
  text-decoration: none;
  display: block;
  width: 100%;
  border-radius: 5px;
}

.btn-dropdown {
  padding: 0;
  margin: 0;
  background-color: white;
  border: none;
}

.Heading1 {
  font-size: 7rem;
}
